specVersion: 0.0.4
description: Yield Yak
repository: https://github.com/yieldyak/subgraph
schema:
  file: ./schema.graphql
dataSources:
  {{#datasources}}
  - kind: ethereum/contract
    name: {{name}}
    network: avalanche
    source:
      address: '{{address}}'
      abi: {{abi}}
      startBlock: {{startBlock}}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.5
      language: wasm/assemblyscript
      entities:
        - Token
        - RewardToken
        - VaultFee
        - YieldAggregator
        - UsageMetricsDailySnapshot
        - UsageMetricsHourlySnapshot
        - FinancialsDailySnapshot
        - Vault
        - VaultDailySnapshot
        - VaultHourlySnapshot
        - Deposit
        - Withdraw
        - Account
        - ActiveAccount
      abis:
        - name: Token
          file: ./abis/Token.json
        - name: YakRouter
          file: ./abis/YakRouter.json
        - name: {{abi}}
          file: ./abis/{{abi}}.json
      eventHandlers:
        {{#isDexStrategyV4}}
        - event: Deposit(indexed address,uint256)
          handler: handleDeposit
        - event: Reinvest(uint256,uint256)
          handler: handleReinvest
        - event: Withdraw(indexed address,uint256)
          handler: handleWithdraw
        - event: UpdateAdminFee(uint256,uint256)
          handler: handleUpdateAdminFee
        - event: UpdateDevFee(uint256,uint256)
          handler: handleUpdateDevFee
        - event: UpdateReinvestReward(uint256,uint256)
          handler: handleReinvestReward
        {{/isDexStrategyV4}}
        {{^isDexStrategyV4}}
        - event: Deposit(address,uint256)
          handler: handleDeposit
        - event: Reinvest(uint256,uint256)
          handler: handleReinvest
        - event: Withdraw(address,uint256)
          handler: handleWithdraw
        - event: UpdateAdminFee(uint256,uint256)
          handler: handleUpdateAdminFee
        - event: UpdateReinvestReward(uint256,uint256)
          handler: handleReinvestReward
        {{/isDexStrategyV4}}
      file: ./src/mappings/{{abi}}.ts
  {{/datasources}}