REACT_APP_DEFILLAMA_BASE_URL=https://api.llama.fi
REACT_APP_DEFILLAMA_WEB_URL=https://defillama.com
REACT_APP_GRAPH_BASE_URL=https://api.thegraph.com
REACT_APP_GRAPH_HOSTEDSERVICE_URL=https://thegraph.com/hosted-service
REACT_APP_GRAPH_EXPLORER_URL=https://thegraph.com/explorer
REACT_APP_GRAPH_CRONOS_URL=https://graph.cronoslabs.com
REACT_APP_GRAPH_DECEN_URL=https://gateway-arbitrum.network.thegraph.com
REACT_APP_GRAPH_API_KEY=
REACT_APP_GITHUB_ISSUES_URL=https://api.github.com/repos/messari/subgraphs/issues
REACT_APP_MESSARI_REPO_URL=https://github.com/messari/subgraphs
REACT_APP_MESSARI_STATUS_URL=https://api.messari.io/subgraph-status/api/v1/status
REACT_APP_MESSARI_API_KEY=
REACT_APP_OKGRAPH_BASE_URL=https://okgraph.xyz
