html,
body {
  background: #121212;
}

body {
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* Manual set style properties to show overflow TableChart values without cutoff */
.MuiDataGrid-cell--textLeft {
  max-width: 600px !important;
}

.MuiDataGrid-virtualScroller {
  overflow-x: auto !important;
}

.Menu-Options {
  color: #6656F8;
  cursor: pointer;
  font-size: 20px;
}

.Menu-Options:hover {
  text-decoration: underline;
}

.Hover-Underline:hover {
  text-decoration: underline !important;
}

.rotated {
  transform: rotate(180deg);
}

input[type="file"] {
  display: none;
}

.round-image {
  border-radius: 2px;
}