specVersion: 0.0.5
{{#graftEnabled}}
features:
  - grafting
graft:
  base: {{subgraphId}}
  block: {{graftStartBlock}}
{{/graftEnabled}}
schema:
  file: ./schema.graphql
dataSources:
  {{#factories}}
  - kind: ethereum
    name: "{{name}}"
    network: bsc
    source:
      address: "{{address}}"
      abi: Factory
      startBlock: {{startBlock}}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.7
      language: wasm/assemblyscript
      entities: []
      abis:
        - name: Factory
          file: ./abis/Factory.json
        - name: Pool
          file: ./abis/Pool.json
        - name: Staking
          file: ./abis/Staking.json
        - name: StakingV2
          file: ./abis/StakingV2.json
        - name: Registry
          file: ./abis/Registry.json
        - name: LpToken
          file: ./abis/LpToken.json
        - name: IERC20
          file: ./abis/IERC20.json
        - name: ERC20
          file: ./abis/ERC20.json
        ###########################################
        ############## Price Oracle ###############
        ###########################################
        # ERC20
        - name: _ERC20
          file: ./abis/Prices/ERC20.json
        # Curve Contracts
        - name: CurvePool
          file: ./abis/Prices/Curve/Pool.json
        - name: CurveRegistry
          file: ./abis/Prices/Curve/Registry.json
        - name: CalculationsCurve
          file: ./abis/Prices/Calculations/Curve.json
        # YearnLens Contracts
        - name: YearnLensContract
          file: ./abis/Prices/YearnLens.json
        # Aave Oracle Contract
        - name: AaveOracleContract
          file: ./abis/Prices/AaveOracle.json
        # SushiSwap Contracts
        - name: CalculationsSushiSwap
          file: ./abis/Prices/Calculations/SushiSwap.json
        # ChainLink Contracts
        - name: ChainLinkContract
          file: ./abis/Prices/ChainLink.json
        # Uniswap Contracts
        - name: UniswapRouter
          file: ./abis/Prices/Uniswap/Router.json
        - name: UniswapFactory
          file: ./abis/Prices/Uniswap/Factory.json
        - name: UniswapPair
          file: ./abis/Prices/Uniswap/Pair.json
          
      eventHandlers:
        - event: BasePoolAdded(address)
          handler: handleBasePoolAdded
        - event: PlainPoolDeployed(address,address,address[4],uint256,uint256,address)
          handler: handlePlainPoolDeployed
        - event: MetaPoolDeployed(address,address,address[2],address,uint256,uint256,address)
          handler: handleMetaPoolDeployed
        - event: CryptoPoolDeployed(address,address,address[2],uint256,uint256,uint256,uint256,uint256,uint256,uint256,uint256,uint256,uint256,address)
          handler: handleCryptoPoolDeployed
      file: ./src/mappings/factory.ts
  {{/factories}}

  {{#registeries}}
  - kind: ethereum
    name: "{{name}}"
    network: bsc
    source:
      address: "{{address}}"
      abi: Registry
      startBlock: {{startBlock}}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.7
      language: wasm/assemblyscript
      entities:
        - PoolAdded
        - PoolRemoved
      abis:
        - name: Factory
          file: ./abis/Factory.json
        - name: Pool
          file: ./abis/Pool.json
        - name: Staking
          file: ./abis/Staking.json
        - name: StakingV2
          file: ./abis/StakingV2.json
        - name: Registry
          file: ./abis/Registry.json
        - name: LpToken
          file: ./abis/LpToken.json
        - name: IERC20
          file: ./abis/IERC20.json
        - name: ERC20
          file: ./abis/ERC20.json
        ###########################################
        ############## Price Oracle ###############
        ###########################################
        # ERC20
        - name: _ERC20
          file: ./abis/Prices/ERC20.json
        # Curve Contracts
        - name: CurvePool
          file: ./abis/Prices/Curve/Pool.json
        - name: CurveRegistry
          file: ./abis/Prices/Curve/Registry.json
        - name: CalculationsCurve
          file: ./abis/Prices/Calculations/Curve.json
        # YearnLens Contracts
        - name: YearnLensContract
          file: ./abis/Prices/YearnLens.json
        # Aave Oracle Contract
        - name: AaveOracleContract
          file: ./abis/Prices/AaveOracle.json
        # SushiSwap Contracts
        - name: CalculationsSushiSwap
          file: ./abis/Prices/Calculations/SushiSwap.json
        # ChainLink Contracts
        - name: ChainLinkContract
          file: ./abis/Prices/ChainLink.json
        # Uniswap Contracts
        - name: UniswapRouter
          file: ./abis/Prices/Uniswap/Router.json
        - name: UniswapFactory
          file: ./abis/Prices/Uniswap/Factory.json
        - name: UniswapPair
          file: ./abis/Prices/Uniswap/Pair.json
      eventHandlers:
        - event: PoolAdded(indexed address)
          handler: handlePoolAdded
      file: ./src/mappings/registry.ts  
  {{/registeries}}

  - kind: ethereum
    name: Staking
    network: bsc
    source:
      address: "0xcce949De564fE60e7f96C85e55177F8B9E4CF61b"
      abi: Staking
      startBlock: 5938178
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.7
      language: wasm/assemblyscript
      entities: []
      abis:
        - name: Factory
          file: ./abis/Factory.json
        - name: Pool
          file: ./abis/Pool.json
        - name: Staking
          file: ./abis/Staking.json
        - name: StakingV2
          file: ./abis/StakingV2.json
        - name: Registry
          file: ./abis/Registry.json
        - name: LpToken
          file: ./abis/LpToken.json
        - name: IERC20
          file: ./abis/IERC20.json
        - name: ERC20
          file: ./abis/ERC20.json
        ###########################################
        ############## Price Oracle ###############
        ###########################################
        # ERC20
        - name: _ERC20
          file: ./abis/Prices/ERC20.json
        # Curve Contracts
        - name: CurvePool
          file: ./abis/Prices/Curve/Pool.json
        - name: CurveRegistry
          file: ./abis/Prices/Curve/Registry.json
        - name: CalculationsCurve
          file: ./abis/Prices/Calculations/Curve.json
        # YearnLens Contracts
        - name: YearnLensContract
          file: ./abis/Prices/YearnLens.json
        # Aave Oracle Contract
        - name: AaveOracleContract
          file: ./abis/Prices/AaveOracle.json
        # SushiSwap Contracts
        - name: CalculationsSushiSwap
          file: ./abis/Prices/Calculations/SushiSwap.json
        # ChainLink Contracts
        - name: ChainLinkContract
          file: ./abis/Prices/ChainLink.json
        # Uniswap Contracts
        - name: UniswapRouter
          file: ./abis/Prices/Uniswap/Router.json
        - name: UniswapFactory
          file: ./abis/Prices/Uniswap/Factory.json
        - name: UniswapPair
          file: ./abis/Prices/Uniswap/Pair.json

      eventHandlers:
        - event: Deposit(indexed address,indexed uint256,uint256)
          handler: handleDeposit
        - event: Withdraw(indexed address,indexed uint256,uint256)
          handler: handleWithdraw
        - event: EmergencyWithdraw(indexed address,indexed uint256,uint256)
          handler: handleEmergencyWithdraw
      file: ./src/mappings/staking.ts
  - kind: ethereum
    name: StakingV2
    network: bsc
    source:
      address: "0x5B74C99AA2356B4eAa7B85dC486843eDff8Dfdbe"
      abi: StakingV2
      startBlock: 16866837
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.7
      language: wasm/assemblyscript
      entities: []
      abis:
        - name: Factory
          file: ./abis/Factory.json
        - name: Pool
          file: ./abis/Pool.json
        - name: Staking
          file: ./abis/Staking.json
        - name: StakingV2
          file: ./abis/StakingV2.json
        - name: Registry
          file: ./abis/Registry.json
        - name: LpToken
          file: ./abis/LpToken.json
        - name: IERC20
          file: ./abis/IERC20.json
        - name: ERC20
          file: ./abis/ERC20.json
        ###########################################
        ############## Price Oracle ###############
        ###########################################
        # ERC20
        - name: _ERC20
          file: ./abis/Prices/ERC20.json
        # Curve Contracts
        - name: CurvePool
          file: ./abis/Prices/Curve/Pool.json
        - name: CurveRegistry
          file: ./abis/Prices/Curve/Registry.json
        - name: CalculationsCurve
          file: ./abis/Prices/Calculations/Curve.json
        # YearnLens Contracts
        - name: YearnLensContract
          file: ./abis/Prices/YearnLens.json
        # Aave Oracle Contract
        - name: AaveOracleContract
          file: ./abis/Prices/AaveOracle.json
        # SushiSwap Contracts
        - name: CalculationsSushiSwap
          file: ./abis/Prices/Calculations/SushiSwap.json
        # ChainLink Contracts
        - name: ChainLinkContract
          file: ./abis/Prices/ChainLink.json
        # Uniswap Contracts
        - name: UniswapRouter
          file: ./abis/Prices/Uniswap/Router.json
        - name: UniswapFactory
          file: ./abis/Prices/Uniswap/Factory.json
        - name: UniswapPair
          file: ./abis/Prices/Uniswap/Pair.json

      eventHandlers:
        - event: Deposit(indexed address,indexed address,uint256)
          handler: handleDepositV2
        - event: Withdraw(indexed address,indexed address,uint256)
          handler: handleWithdrawV2
        - event: EmergencyWithdraw(indexed address,indexed address,uint256)
          handler: handleEmergencyWithdrawV2
      file: ./src/mappings/staking.ts
  {{#pools}}
  - kind: ethereum
    name: "{{name}}"
    network: bsc
    source:
      address: "{{address}}"
      abi: Pool
      startBlock: {{startBlock}}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.7
      language: wasm/assemblyscript
      entities: []
      abis:
        - name: Factory
          file: ./abis/Factory.json
        - name: Pool
          file: ./abis/Pool.json
        - name: Staking
          file: ./abis/Staking.json
        - name: StakingV2
          file: ./abis/StakingV2.json
        - name: Registry
          file: ./abis/Registry.json
        - name: LpToken
          file: ./abis/LpToken.json
        - name: IERC20
          file: ./abis/IERC20.json
        - name: ERC20
          file: ./abis/ERC20.json
        ###########################################
        ############## Price Oracle ###############
        ###########################################
        # ERC20
        - name: _ERC20
          file: ./abis/Prices/ERC20.json
        # Curve Contracts
        - name: CurvePool
          file: ./abis/Prices/Curve/Pool.json
        - name: CurveRegistry
          file: ./abis/Prices/Curve/Registry.json
        - name: CalculationsCurve
          file: ./abis/Prices/Calculations/Curve.json
        # YearnLens Contracts
        - name: YearnLensContract
          file: ./abis/Prices/YearnLens.json
        # Aave Oracle Contract
        - name: AaveOracleContract
          file: ./abis/Prices/AaveOracle.json
        # SushiSwap Contracts
        - name: CalculationsSushiSwap
          file: ./abis/Prices/Calculations/SushiSwap.json
        # ChainLink Contracts
        - name: ChainLinkContract
          file: ./abis/Prices/ChainLink.json
        # Uniswap Contracts
        - name: UniswapRouter
          file: ./abis/Prices/Uniswap/Router.json
        - name: UniswapFactory
          file: ./abis/Prices/Uniswap/Factory.json
        - name: UniswapPair
          file: ./abis/Prices/Uniswap/Pair.json 
          
      eventHandlers:
        - event: AddLiquidity(indexed address,uint256[2],uint256[2],uint256,uint256)
          handler: handleAddLiquidity
        - event: AddLiquidity(indexed address,uint256[2],uint256,uint256)
          handler: handleAddLiquidity
        - event: AddLiquidity(indexed address,uint256[3],uint256[3],uint256,uint256)
          handler: handleAddLiquidity
        - event: RemoveLiquidity(indexed address,uint256[2],uint256[2],uint256)
          handler: handleRemoveLiquidity
        - event: RemoveLiquidity(indexed address,uint256[2],uint256)
          handler: handleRemoveLiquidity
        - event: RemoveLiquidity(indexed address,uint256[3],uint256[3],uint256)
          handler: handleRemoveLiquidity
        - event: RemoveLiquidityImbalance(indexed address,uint256[2],uint256[2],uint256,uint256)
          handler: handleRemoveLiquidityImbalance
        - event: RemoveLiquidityImbalance(indexed address,uint256[3],uint256[3],uint256,uint256)
          handler: handleRemoveLiquidityImbalance
        - event: RemoveLiquidityOne(indexed address,uint256,uint256,uint256)
          handler: handleRemoveLiquidityOne
          receipt: true
        - event: RemoveLiquidityOne(indexed address,uint256,uint256)
          handler: handleRemoveLiquidityOne
          receipt: true
        - event: TokenExchange(indexed address,int128,uint256,int128,uint256)
          handler: handleTokenExchange
        - event: TokenExchange(indexed address,uint256,uint256,uint256,uint256)
          handler: handleTokenExchangeWithUintSoldId
        - event: TokenExchangeUnderlying(indexed address,int128,uint256,int128,uint256)
          handler: handleTokenExchangeUnderlying
      file: ./src/mappings/pool.ts
  {{/pools}}
templates:
  - kind: ethereum
    name: PoolTemplate
    network: bsc
    source:
      abi: Pool
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.7
      language: wasm/assemblyscript
      entities: []
      abis:
        - name: Factory
          file: ./abis/Factory.json
        - name: Pool
          file: ./abis/Pool.json
        - name: Staking
          file: ./abis/Staking.json
        - name: StakingV2
          file: ./abis/StakingV2.json
        - name: Registry
          file: ./abis/Registry.json
        - name: LpToken
          file: ./abis/LpToken.json
        - name: IERC20
          file: ./abis/IERC20.json
        - name: ERC20
          file: ./abis/ERC20.json
        ###########################################
        ############## Price Oracle ###############
        ###########################################
        # ERC20
        - name: _ERC20
          file: ./abis/Prices/ERC20.json
        # Curve Contracts
        - name: CurvePool
          file: ./abis/Prices/Curve/Pool.json
        - name: CurveRegistry
          file: ./abis/Prices/Curve/Registry.json
        - name: CalculationsCurve
          file: ./abis/Prices/Calculations/Curve.json
        # YearnLens Contracts
        - name: YearnLensContract
          file: ./abis/Prices/YearnLens.json
        # Aave Oracle Contract
        - name: AaveOracleContract
          file: ./abis/Prices/AaveOracle.json
        # SushiSwap Contracts
        - name: CalculationsSushiSwap
          file: ./abis/Prices/Calculations/SushiSwap.json
        # ChainLink Contracts
        - name: ChainLinkContract
          file: ./abis/Prices/ChainLink.json
        # Uniswap Contracts
        - name: UniswapRouter
          file: ./abis/Prices/Uniswap/Router.json
        - name: UniswapFactory
          file: ./abis/Prices/Uniswap/Factory.json
        - name: UniswapPair
          file: ./abis/Prices/Uniswap/Pair.json 
          
      eventHandlers:
        - event: AddLiquidity(indexed address,uint256[2],uint256[2],uint256,uint256)
          handler: handleAddLiquidity
        - event: AddLiquidity(indexed address,uint256[2],uint256,uint256)
          handler: handleAddLiquidityWithSingleFee
        - event: AddLiquidity(indexed address,uint256[3],uint256[3],uint256,uint256)
          handler: handleAddLiquidity
        - event: RemoveLiquidity(indexed address,uint256[2],uint256[2],uint256)
          handler: handleRemoveLiquidity
        - event: RemoveLiquidity(indexed address,uint256[3],uint256[3],uint256)
          handler: handleRemoveLiquidity
        - event: RemoveLiquidity(indexed address,uint256[2],uint256)
          handler: handleRemoveLiquidityWithoutFee
        - event: RemoveLiquidityImbalance(indexed address,uint256[2],uint256[2],uint256,uint256)
          handler: handleRemoveLiquidityImbalance
        - event: RemoveLiquidityImbalance(indexed address,uint256[3],uint256[3],uint256,uint256)
          handler: handleRemoveLiquidityImbalance
        - event: RemoveLiquidityOne(indexed address,uint256,uint256,uint256)
          handler: handleRemoveLiquidityOne
          receipt: true
        - event: RemoveLiquidityOne(indexed address,uint256,uint256)
          handler: handleRemoveLiquidityOneWithoutTokenSupply
          receipt: true
        - event: TokenExchange(indexed address,int128,uint256,int128,uint256)
          handler: handleTokenExchange
        - event: TokenExchange(indexed address,uint256,uint256,uint256,uint256)
          handler: handleTokenExchangeWithUintSoldId
        - event: TokenExchangeUnderlying(indexed address,int128,uint256,int128,uint256)
          handler: handleTokenExchangeUnderlying
      file: ./src/mappings/pool.ts
