import { DeploymentJsonContextInterface } from "../../deployment/context/interface";
import { DeploymentJsonContext as DeploymentJsonContextClass} from "../../deployment/context/class";

function slugToTitle(slug: string): string {
  return slug
    .split("-")
    .map((word) => word.charAt(0).toUpperCase() + word.slice(1))
    .join(" ");
}

export const deploymentJsonContext: DeploymentJsonContextInterface = { 
    protocolSlug: "{{ protocol }}",
    protocolName: slugToTitle("{{ protocol }}"),
    network: "{{ network }}",
    schemaVersion: "{{ versions.schema }}",
    subgraphVersion: "{{ versions.subgraph }}",
    methodologyVersion: "{{ versions.methodology }}"
}

export const DeploymentJsonContext = new DeploymentJsonContextClass(deploymentJsonContext);
